body {
    font-family: "Helvetica Neue", sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-card {
    display: inline-block;
    border: 2px solid #EFEFEF;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #333;
    max-width: 300px;
    padding: 20px;
    text-align: center;
}

.profile-card h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0074E4; /* Warna biru untuk judul */
}

.profile-card img {
    max-width: 150px;
    border: 4px solid #0074E4; /* Warna biru untuk border foto profil */
    border-radius: 50%;
}

.profile-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.list-inline {
    list-style: none;
    padding: 0;
}

.list-inline-item {
    margin-bottom: 10px;
}

.list-inline-item a {
    text-decoration: none;
    color: #0074E4; /* Warna biru untuk tautan */
}

.list-inline-item a:hover {
    text-decoration: underline;
}
/* Gaya CSS untuk tampilan desktop (laptop) */
@media (min-width: 768px) {
    .container {
        max-width: 960px; /* Sesuaikan lebar maksimum untuk tampilan desktop */
    }
}

/* Gaya CSS untuk tampilan smartphone (headphone) */
@media (max-width: 767px) {
    .container {
        max-width: 100%; /* Konten akan mengisi lebar layar pada tampilan smartphone */
    }
}
